{{> head }}
{{> navbar }}
<h1>Página de ABOUT</h1>
<div class="row">
    <div class="col-8">
        Mi querido Igor es hermoso
    </div>
    <div class="col-4">
        <img src="assets/image/img.jpg" alt="">
    </div>
</div>
{{> footer }}